---
jobs:
  frr:
    name: FRRouting
    runs-on: ubuntu-24.04
    steps:
      # Set up Python
      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14.3"
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Set up and start FRR
      - env:
          FRRVER: frr-9.1
        name: Set up and start FRR
        run: |
          curl -s https://deb.frrouting.org/frr/keys.gpg | sudo tee /usr/share/keyrings/frrouting.gpg > /dev/null
          echo deb '[signed-by=/usr/share/keyrings/frrouting.gpg]' https://deb.frrouting.org/frr \
            $(lsb_release -s -c) $FRRVER | sudo tee -a /etc/apt/sources.list.d/frr.list
          sudo apt-get update && sudo apt-get install frr frr-pythontools
          sudo sed -i 's/pam_rootok/pam_permit/' /etc/pam.d/frr  # https://github.com/FRRouting/frr/discussions/14745#discussioncomment-8266899
          sudo systemctl start frr
          sudo gpasswd -r frrvty
          sudo adduser $(whoami) frrvty
          sudo chown frr:frrvty /etc/frr
          sudo chmod 0775 /etc/frr
          sudo chown frr:frrvty /etc/frr/vtysh.conf
      # Check FRR status
      - name: Check FRR status
        run: |
          sudo journalctl --no-pager -xu frr
      # Install uv
      - name: Install uv
        run: |
          pipx install --global uv
      # Print IP diagnostics
      - name: Print IP diagnostics
        run: |
          sudo ip address show
          echo '---'
          sudo ip route show
          echo '---'
          sudo ip neigh show
          echo '---'
          sg frrvty -c "vtysh -c 'show ip route'"
      # Start the daemon
      - continue-on-error: true
        env:
          ECMP_CONFIG_PATH: "tests/config_frr.toml"
        name: Start ecmp-manager daemon
        run: |
          sudo setcap CAP_NET_RAW=eip $(readlink -f $(which python3))
          sg frrvty -c "uv run python3 -u daemon.py"
        timeout-minutes: 1
      # Print IP diagnostics
      - name: Print IP diagnostics
        run: |
          sudo ip address show
          echo '---'
          sudo ip route show
          echo '---'
          sudo ip neigh show
          echo '---'
          sg frrvty -c "vtysh -c 'show ip route'"
      # Check routing table output
      - name: Check routing table output
        run: |
          sg frrvty -c "vtysh -c 'show ip route'" | grep -q '0.0.0.0/0 \[10/0\]'
  kernel:
    name: Linux Kernel
    runs-on: ubuntu-24.04
    steps:
      # Set up Python 3.13
      # https://github.com/actions/setup-python
      - id: setup-python
        name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Install uv
      - name: Install uv
        run: |
          pipx install --global uv
      # Print IP diagnostics
      - name: Print IP diagnostics
        run: |
          sudo ip address show
          echo '---'
          sudo ip route show
          echo '---'
          sudo ip neigh show
      # Start the daemon
      - continue-on-error: true
        env:
          ECMP_CONFIG_PATH: "tests/config_kernel.toml"
        name: Start ecmp-manager daemon
        run: |
          sudo setcap CAP_NET_RAW=eip $(readlink -f $(which python3))
          sudo -E uv run python3 -u daemon.py
        timeout-minutes: 1
      # Print IP diagnostics
      - name: Print IP diagnostics
        run: |
          sudo ip address show
          echo '---'
          sudo ip route show
          echo '---'
          sudo ip neigh show
      # Check routing table output
      - name: Check routing table output
        run: |
          sudo ip route show | grep -q 'metric 10 '
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
